body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    line-height: 1.6;
    background-color: #f4f4f4;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

#background-video {
    position: relative;
    height: 50vh;
}

#background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 80%;
    border-radius: 10px;
}

h2, p {
    margin: 0;
}

.navbar {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 1.5em 0; /* Aumenta o padding para dar mais espaço vertical */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    letter-spacing: 1px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 1em; /* Aumenta o padding para dar mais espaço ao redor do texto */
    cursor: pointer;
    font-size: 18px; /* Aumenta o tamanho da fonte */
}

button {
    padding: 14px 28px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 18px;
}

.section {
    font-size: 20px; /* Aumenta o tamanho da fonte */
    line-height: 1.8;
    color: #333;
}

button:hover {
    background-color: #333;
}
